@import 'tailwindcss';
@import 'tw-animate-css';
@import './theme.css';

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply min-h-svh bg-background font-sans text-foreground antialiased;
  }
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1.25rem;
  max-width: 72rem;
}
